$super-color: #282d36;
$cl1: #334;
$cl2: #445;
$cl3: #555;
$cl-wh: #ccc;

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $super-color;
  color: $cl-wh;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button,
.button {
  background-color: $super-color;
  border: solid 2px $cl-wh;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  color: $cl-wh;
  font-weight: bold;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: $cl2;
}

.hidden {
  display: none;
}

a {
  color: inherit;
}

a.button {
  text-decoration: none;
}

table { border-collapse: collapse; }
table td { border: solid 1px #445; }
.no-select { user-select: none; }
.flex { display: flex; align-items: center; }
.flex-wrap { flex-wrap: wrap; }

.vert-space-between-2px {
  margin: 0 -2px;
  & > * { margin: 0 2px; }
}

.flex { display: flex; }
.space-between :not(:last-child) { margin-right: 8px; }

input[type=text] {
  background-color: $cl3;
  padding: 8px;
  color: $cl-wh;
  font-weight: bold;
  font-size: 16px;
  border: solid 2px $cl3;
  border-radius: 8px;
}
