.missions-list-page {
  & .search-block {
    margin-bottom: 8px;
    & > label {
      margin-right: 16px;
    }
    & > .button.delete {
      margin-left: 16px;
      font-size: 12px;
      padding: 4px 6px;
    }
  }
  & a {
    text-decoration: underline solid 1px;
  }
  & .bottom {
    margin-top: 24px;
    margin-left: 24px;
  }
  & table {
    margin-right: auto;
    & td {
      padding: 8px;
      text-align: center;
    }
    & tbody {
      & tr td {
        &:first-child {
          font-weight: bold;
          font-size: 20px;
        }
        &:nth-child(2) {
          font-size: 12px;
        }
        &:nth-child(3) {
          font-weight: bold;
          font-size: 16px;
        }
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          font-weight: bold;
          font-size: 20px;
        }
      }
      & tr:nth-child(odd) {
        background-color: #ffffff08;
      }
    }
  }
}
